<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration. -->
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern><![CDATA[
             [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{20} %msg%n
            ]]></pattern>
        </encoder>
    </appender>


    <!-- 生成日志文件 -->
    <appender name="FILE_SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名 -->
        <!--<file>C:\work\topkn\base\logs\server-custom.log</file>-->
        <file>/home/admin/final24/logs/86604nnnd5/server-custom.log</file>
        <!-- 固定数量的日志文件，防止将磁盘占满 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/home/admin/final24/logs/86604nnnd5/server.custom.%i.log.gz
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <!--日志文件最大的大小 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern><![CDATA[
             [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{20} %msg%n
            ]]></pattern>
        </encoder>
    </appender>


    <appender name="FILE_CLIENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名 -->
        <file>/home/admin/final24/logs/86604nnnd5/client-custom.log</file>

        <!-- 固定数量的日志文件，防止将磁盘占满 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/home/admin/final24/logs/86604nnnd5/client.custom.%i.log.gz
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <!--日志文件最大的大小 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern><![CDATA[
             [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{20} %msg%n
            ]]></pattern>
        </encoder>
    </appender>


    <logger name="com.alibaba.middleware.topkn.TopknMaster" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE_SERVER"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="com.alibaba.middleware.topkn.master" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE_SERVER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.alibaba.middleware.topkn.TopknWorker" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE_CLIENT"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.alibaba.middleware.topkn.worker" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE_CLIENT"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root>
        <level value="${app.logging.level}"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>